/* font-family: 'Outfit', sans-serif; */
:root {
  --primary-color: hsl(215, 51%, 70%); /*soft blue*/
  --hover-color: hsl(178, 100%, 50%); /*cyan*/
  --secondary-color: hsl(0, 0%, 100%); /*white*/
  --primary-bg-color: hsl(217, 54%, 11%); /*dark blue-main*/
  --secondary-bg-color: hsl(216, 50%, 16%); /*dark blue-card*/
}

body {
  height: 100vh;
  background-color: var(--primary-bg-color);
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 600;
}

h1:hover,
.credit:hover {
  color: var(--hover-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

p.costs {
  color: var(--hover-color);
  font-weight: 600;
}
.credit {
  color: var(--secondary-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  float: none;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
}

.card-image {
  background: url(images/image-equilibrium.jpg);
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
}

.card-image:hover .overlay {
  opacity: 1;
  border-radius: 10px;
}

.view-card {
  position: relative;
  top: 45%;
}

.overlay {
  background: hsla(178, 100%, 50%, 0.459);
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 0.2px solid var(--primary-color);
  padding-top: 20px;
  margin-bottom: 10px;
}

.image-avatar {
  align-self: center;
  border: solid 2px white;
  border-radius: 50%;
  width: 12%;
  margin-right: 15px;
}

.m-r {
  margin-right: 5px;
}
